
<div class="contenido">

<div class="in1">
    <div class="group">
        <input required="" type="text" class="input">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Titulo</label>
    </div>
</div>

<div class="in2">
    <div class="group">
        <input required="" type="number" class="input">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Año</label>
    </div>
</div>

<div class="in3">
    <div class="group">
        <input required="" type="text" class="input">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Edición</label>
    </div>
</div>

<div class="in4">
    <div class="group">
        <input required="" type="text" class="input">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Editorial</label>
    </div>
</div>

<div class="in5">
    <div class="group">
        <input required="" type="text" class="input">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Autor</label>
    </div>
</div>

<div class="in6">
    <div class="group">
        <input required="" type="number" class="input">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>N° De Hojas</label>
    </div>
</div>

<!-- BOTTON DE AGREGAR -->
<div class="btn">
    <button class="button" (click)="conf()" style="size: 120px;">
        <div class="icon">
        <img src="../../../assets/img/Agregar.png" alt="agregar" style="margin-right: 12px;">
        </div>
        <p style="margin-top: 11px;">Agregar</p>
    </button>
</div>

</div>