.logo{
    float: left;
    height: 100px;
    width: 200px;
    text-align: center;
}
.logo img{
    width: 85px;
}
.nav li{
    margin-top: 12px;
    width: 100px;
    text-align: center;
}

.nav img{
    width: 60px;
}

/* Tabla de contenidos */
