<div class="contenido">

    <form class="form">
        <label for="search">
            <input class="input" type="text" required="" placeholder="Buscar..." id="search">
            <div class="fancy-bg"></div>
            <div class="search">
                <svg viewBox="0 0 24 24" aria-hidden="true" class="r-14j79pv r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-4wgw6l r-f727ji r-bnwqim r-1plcrui r-lrvibr">
                    <g>
                        <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
                    </g>
                </svg>
            </div>
            <button class="close-btn" type="reset">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                </svg>
            </button>
        </label>
    </form>

    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: #29abe2; color: #FFF; margin-left: 66rem;">
      NUEVO
    </button>

    <div class="container">
      <div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-2" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">AGREGAR</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="in1">
                <div class="group">
                    <input required="" type="text" class="input">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Titulo</label>
                </div>
            </div>
            
            <div class="in2">
                <div class="group">
                    <input required="" type="number" class="input">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Año</label>
                </div>
            </div>
            
            <div class="in3">
                <div class="group">
                    <input required="" type="text" class="input">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Edición</label>
                </div>
            </div>
            
            <div class="in4">
                <div class="group">
                    <input required="" type="text" class="input">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Editorial</label>
                </div>
            </div>
            
            <div class="in5">
                <div class="group">
                    <input required="" type="text" class="input">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Autor</label>
                </div>
            </div>
            
            <div class="in6">
                <div class="group">
                    <input required="" type="number" class="input">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>N° De Hojas</label>
                </div>
            </div>
            </div>
            <div class="modal-footer">
              <button id="limpiar" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button id="limpiar" type="button" class="btn" data-bs-dismiss="modal" (click)="conf()" style="background-color: #29abe2; color: #FFF;">Guardar</button>
            </div>
          </div>
        </div>
      </div>
      <script>
        document.getElementById("input").value = "";
      </script>
    </div>


    <div class="container">
      <div class="modal fade" id="example" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-2" aria-labelledby="example" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="example">EDITAR</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="in1">
                <div class="group">
                    <input required="" type="text" class="input">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Titulo</label>
                </div>
            </div>
            
            <div class="in2">
                <div class="group">
                    <input required="" type="number" class="input">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Año</label>
                </div>
            </div>
            
            <div class="in3">
                <div class="group">
                    <input required="" type="text" class="input">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Edición</label>
                </div>
            </div>
            
            <div class="in4">
                <div class="group">
                    <input required="" type="text" class="input">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Editorial</label>
                </div>
            </div>
            
            <div class="in5">
                <div class="group">
                    <input required="" type="text" class="input">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Autor</label>
                </div>
            </div>
            
            <div class="in6">
                <div class="group">
                    <input required="" type="number" class="input">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>N° De Hojas</label>
                </div>
            </div>
            </div>
            <div class="modal-footer">
              <button id="limpiar" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button id="limpiar" type="button" class="btn" data-bs-dismiss="modal" (click)="del()" style="background-color: #29abe2; color: #FFF;">Guardar</button>
            </div>
          </div>
        </div>
      </div>


    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="card">
                    <div class="card-body text-center">
                        <h3>CONTENIDO</h3>
                        <table class="table mt-5">
                            <thead>
                              <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Titulo</th>
                                <th scope="col">Año</th>
                                <th scope="col">Edición</th>
                                <th scope="col">Editorial</th>
                                <th scope="col">Autor</th>
                                <th scope="col">N° De Hojas</th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>----</td>
                                <td>----</td>
                                <td>----</td>
                                <td>----</td>
                                <td>----</td>
                                <td>----</td>
                                <td>----</td>
                                <td>
                                  <img src="../../../assets/img/editar.png" alt="editar" data-bs-toggle="modal" data-bs-target="#example" style="width: 30px; cursor: pointer; margin-right: 19px;">
                                  <img src="../../../assets/img/Eliminar.png" alt="eliminar" (click)="del()" style="width: 30px; cursor: pointer;">
                                </td>
                              </tr>
                              <tr>
                                <td>----</td>
                                <td>----</td>
                                <td>----</td>
                                <td>----</td>
                                <td>----</td>
                                <td>----</td>
                                <td>----</td>
                                <td>
                                  <img src="../../../assets/img/editar.png" alt="editar" data-bs-toggle="modal" data-bs-target="#example" style="width: 30px; cursor: pointer; margin-right: 19px;">
                                  <img src="../../../assets/img/Eliminar.png" alt="eliminar" (click)="del()" style="width: 30px; cursor: pointer;">
                                </td>
                              </tr>
                              <tr>
                                <td>----</td>
                                <td>----</td>
                                <td>----</td>
                                <td>----</td>
                                <td>----</td>
                                <td>----</td>
                                <td>----</td>
                                <td>
                                  <img src="../../../assets/img/editar.png" alt="editar" data-bs-toggle="modal" data-bs-target="#example" style="width: 30px; cursor: pointer; margin-right: 19px;">
                                  <img src="../../../assets/img/Eliminar.png" alt="eliminar" (click)="del()" style="width: 30px; cursor: pointer;">
                                </td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>