.in1{
    padding: 19px;
}

.in2{
    padding: 19px;
    margin-top: -82px;
    margin-left: 15rem;
}

.in3{
    padding: 19px;
}

.in4{
    padding: 19px;
    margin-top: -82px;
    margin-left: 15rem;
}

.in5{
    padding: 19px;
}

.in6{
    padding: 19px;
    margin-top: -82px;
    margin-left: 15rem;
}

/* INPUT */
.group {
    position: relative;
}
   
.input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #29abe2;
    background: transparent;
}
   
.input:focus {
    outline: none;
}
   
label {
    color: #29abe2;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
   
.input:focus ~ label, .input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #29abe2;
}
   
.bar {
    position: relative;
    display: block;
    width: 200px;
}
   
.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #29abe2;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
   
.bar:before {
    left: 50%;
}
   
.bar:after {
    right: 50%;
}
   
.input:focus ~ .bar:before, .input:focus ~ .bar:after {
    width: 50%;
}
   
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}
   
.input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
}
   
@keyframes inputHighlighter {
    from {
     background: #29abe2;
    }
   
    to {
     width: 0;
     background: transparent;
    }
}